body {
    font-family: Arial, sans-serif;
    padding: 20px;
    font-style: poppins;
}

.app-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #007bff;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
}

#todos {
    margin-top: 20px;
}

.todo-text{
    display:flex;
    flex-direction: column;
}

.todo-date{
    font-size: 0.85em;
    color:#666;
    margin-top: 4px;
    margin-left: 50px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn{
    from {opacity: 0; transform: translateY(-5px);}
    to {opacity: 1; transform: translateY(0);}
}

.todo-item.completed span {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

button:first-child {
    background-color: #28a745; /* Done/Undo */
    color: white;
}

button:nth-child(2) {
    background-color: #ffc107; /* Edit */
}

button:nth-child(3) {
    background-color: #dc3545; /* Delete */
    color: white;
}


.dark-mode{
    background-color: #121212;
    color:#eaeaea
}

.dark-mode .todo-item{
    background-color: #1e1e1e;
    color: #eaeaea;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode input[type="text"] {
    background-color: #2a2a2a;
    color:white;
    border: 1px solid #555;
}

.dark-mode .btn{
    background-color: #007bff;  
    color: #f4f4f4;
}

.dark-mode .app-header{
    background-color: #222;
}

.progress-container {
    margin: 15px 0;
    background-color: #2a2a2a;
    border-radius: 10px;
    height: 25px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

#progress-bar {
    background-color: #28a745;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    transition: width 0.4s ease;
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}


body:not(.dark-mode) .progress-container {
    background-color: #e0e0e0;
}
